<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hipits.emotionbusan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".baasio.BaasioApplication"
        android:allowBackup="true"
       	android:configChanges="orientation|keyboardHidden|keyboard"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hipits.emotionbusan.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TalksRoomActivity" >
        </activity>
        <activity android:name=".activity.TalksRoomDetailActivity" >
        </activity>
        <activity
            android:name=".activity.RegistrationCafeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" 
            android:configChanges="orientation|keyboardHidden|keyboard"
            >
        </activity>
        <activity android:name=".activity.CafeDetailActivity"></activity>
    </application>

</manifest>